body{
    background-color: #DBDBDB;
    font-family: 'Trebuchet MS' Arial, Helvetica, sans-serif;
    background-image: url(sc.jpg);
}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #ffffff;
    border-right: solid 2px #52331c;
    border-left: solid 2px #52331c;
}
/* TEXT SYLES */
h1{
    font-family: "arial black", Gadget, sans-serif;
    font-size: 76px;
    color: #900;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 26px;
}
h3{
    font-weight: bold;
    margin-top: 0px;
    font-size: 26px;
    color: #4d331e;
}
p{
    font-size: 16px;
    color: #4d331e;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/* MENU SECTION */
#menu{
    width: 170px;
    float: left;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    background-color: #DBDBDB;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
#menu a:link, #menu a:visited{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover, #menu a:active{
    color: #900;
    text-decoration: underline;
}
/* MAIN STYLES */
#main{
    margin-left: 190px;
}
#main a:link, #main a:visited{
    color: #900;
    font-weight: bold;
    text-decoration: none;
}
#main a:hover, #main a:active{
    color: #900;
    text-decoration: underline;
}

/* FOOTER SECTION*/
#footer{
    background-color: #DBDBDB;
    margin-top: 20px;
    clear: both;/* makes footer sit underneath menu and image */
}
#footer p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    color: #6b6969;
    text-align: center;
}
#footer a:link, #footer a:visited{
    color: #000000;
    text-decoration: none;
}
#footer a:hover, #footer a:active{
    color: #900;
    text-decoration: underline;
}

/* LINK STYLES */
a:link, a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active{
    color: #900;
    text-decoration: underline;
}
/* CLASS STYLES */
.rightfloat{
    border: 2px #060;
    margin: 8px;
    float: right;
}
